:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'inter';
    --botao-azul-efeito: #0b4994;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-botao {
    background-color: var(--botao-azul);
    border-radius: 4px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container-aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container-titulo {
    font-size: 28px;
    height: 700;
}

.container-imagem {
    margin: 1em 0 2em 0;

}

.container-caixa {
    margin: 0 6em;
}

.secundario-img {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao-titulo {
    font-weight: 700;
    font-size: 40px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao-texto {
    color: var(--cinza-secundario);
}

.secundario-botao{
    display: inline-block;
    margin-top: 1em;
}

.container-descricao {
    padding: 4em;
}

.dispositivos-lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos-titulo {
    font-size: 48px;
    color:  var(--branco-principal);
}

.lista-item {
    font-size: 38px;
    color: var(--branco-principal);
}

.rodape-logo {
    margin: 7em 0 1em 55em;
    width: 102px;
}

.rodape-lista {
    
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 3em 1em ;
}

.lista-link {
    text-decoration: none;
    color: var(--branco-principal);
    padding-left: 1em;
}

.rodape-texto {
    color: var(--cinza-secundario);
    text-align: center;
    padding-bottom: 1em;
}

.lista-link a:hover {
    color: var(--botao-azul);
}

.lista-link a:active {
    color: purple;
}

.container-botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}